.promptCardBG {
    position:relative;
    overflow: hidden;
    height: 240px;
    width: 390px;
    background-color: var(--black);
    border-radius: 25px;
    margin: 60px 1.5rem 1.5rem;
}

.cardContainer {
    font-family: "Roboto", sans-serif;
    background-size: cover;
    max-width: 390px;
    height: 240px;
    color: var(--white);
    border-radius: 25px;
    padding: 0.3rem 1.5rem;
    position: absolute;
}

.cardContainer p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.cardContainer h1 {
    font-size: var(--font-large);
    margin-top: 3.5rem;
}

.cardContainer button {
    width: 160px;
    height: 50px;
    background: transparent;
    color: white;
    border: solid 2px white;
    border-radius: 30px;
    margin-left: 180px;
    margin-top: -40px;
    font-family: "Roboto", sans-serif;
    font-size: var(--font-small-14px)
}

.triviaButton {
    cursor: pointer;
}

.triviaButton:hover {
    background-image: var(--gradient-rv);
    border: solid 3px transparent;
    background-size: fill;
    border-radius: 30px;
    background-size: 200px;
    background-position: center;
    padding: 0;
}

.Shape1,
.Shape2,
.Shape3,
.Shape4,
.Shape5,
.Shape6 {
    position: absolute;
    filter: blur(60px);
}

.Shape1 {
    top: 75px;
    animation: one 10s infinite;
  }

    @keyframes one {
        0% {
            left: 0px;
            top: 71px;
        }
        25% {
            left: 0px;
            top: 0px;
        }
        50% {
            left: 100px;
            top: 50px;
        }
        100% {
            left: 0px;
            top: 75px;
        }
    }

.Shape2 {
        left: 103px;
        top: 57px;
        animation: two 10s infinite;
}
    @keyframes two {
        0% {
            left: 103px;
            top: 57px;
        }
        25% {
            left: 10px;
            top: 20px;
        }
        50% {
            left: 190px;
            top: 70px;
        }
        100% {
            left: 103px;
            top: 57px;
        }
    }
.Shape3 {
    animation: three 10s infinite;
}

    @keyframes three {
        0% {
            left: 0px;
            top: 0px;
        }
        25% {
            left: 200px;
            top: 50px;
        }
        50% {
            left: 100px;
            top: -10px;
        }
        100% {
            left: 0px;
            top: 0px;
        }
    }
.Shape4 {
    left: 105px;
    top: -17px;
    animation: four 10s infinite;
}
    @keyframes four {
        0% {
            left: 105px;
            top: -17px;
        }
        25% {
            left: -20px;
            top: 50px;
        }
        50% {
            left: 190px;
            top: 90px;
        }
        100% {
            left: 105px;
            top: -7px;
        }
    }

.Shape5{
    left: 100px;
    top: 30px;
    animation: five 10s infinite;
 }
    @keyframes five {
        0% {
            left: 100px;
            top: 30px;
        }
        25% {
            left: 195px;
            top: 0px;
        }
        50% {
            left: 10px;
            top: 190px;
        }
        100% {
            left: 100px;
            top: 30px;
        }
    }

.Shape6{
     animation: six 10s infinite;
}
    @keyframes six {
        0% {
            left: 0px;
            top: 0px;
        }
        25% {
            left: 100px;
            top: 80px;
        }
        50% {
            left: 230px;
            top: 40px;
        }
        100% {
            left: 0px;
            top: 0px;
        }
    }