.promptDescContainer {
    position: relative;
    min-height: 450px;
    margin-bottom: 1rem;
    margin-top: 10px;
}

.container {
    width: 390px;
    min-height: 440px;
    background-color: var(--dark-grey);
    border-radius: 25px;
    color: var(--white);
    font-size: var(--font-regular);
    padding: 20px;
}

.topContainer {
    width: 390px;
    height: 40px;
    border-radius: 25px 25px 0 0;
    position: relative;
}

.mainContent {
    box-sizing: content-box;
}

.subHead {
    font-size: var(--font-small-14px);
    font-weight: bold;
    color: var(--rose);
}

.subHead p {
    font-size: var(--font-medium);
    font-weight: 700;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.header {
    font-size: var(--font-large-30px);
    font-weight: 700;
    margin-top: 0px;
}

.header p, 
.description p {
    margin: 5px 0;
}

.description {
    font-size: var(--font-regular-figma);
}

.firstrow {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 10px;
}

.secondrow {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: -50px;
    margin-top: 5px;
}

.startNow {
    background: transparent;
    display: flex;
    width: 150px;
    height: 40px;
    padding: 8px 61px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 35.5px;
    margin-top: 70px;
    background-image: var(--gradient-bb);
    border: none;
    font-family: Roboto;
    font-size: var(--font-regular-figma);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.startNow:hover {
    background-image: var(--gradient-rv);
}

.icon {
    background-color: var(--black);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
}

.icon:hover {
    box-sizing: border-box;
    border: 2px solid var(--rose);
}

.iconSaved {
    box-sizing: content-box;
    background-color: var(--rose);
}

.cabin01 img, .cabin02 img, .cabin03 img, .cabin04 img, .cabin05 img, .cabin06 img, .overlay, .cabin06 {
    border-radius: 15px;
}

.cabin06 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.cabin06 img {
    scale: 1.4;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0000008a;
    z-index: 10;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    top: 0;
    left: 0;
}

.buttonContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.buttonContainer a {
    text-decoration: none;
}
