.form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 4.5rem;
}

.fill a {
    text-decoration: none;
}

.fields {
    padding-bottom: 1rem;
}

.instructions {
   margin-top: -20px;
   margin-bottom: 35px;
   font-size: var(--font-medium);
}

.name {
    font-size: var(--font-medium);
}

.form h2 {
    font-size: var(--font-large);
    text-align: left;
    margin: 0;
    padding-bottom: 9px;
}

.form p {
    margin: 0;
    font-size: var(--font-regular-figma);
    padding-bottom: 2rem;
} 

.noAccount {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.noAccount a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    margin-left: 6px;
}

.input {
    font-size: var(--font-medium);
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.input input {
    width: 100%;
    background-color: var(--grey);
    padding: .75rem .75rem;
    border-radius: 10px;
    color: var(--light-grey);
    border: none;
    font-size: var(--font-regular-figma);
    font-weight: 400;
}

.input label {
    font-size: var(--font-regular-figma);  
    font-weight: 700;
    padding: .25rem .75rem;
} 
