.form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.email {
    width: 280px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Gray, rgba(135, 135, 135, 0.20));
}

.password {
    width: 280px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Gray, rgba(135, 135, 135, 0.20));
}

.pass {
    margin-top: 10px;
}

.submit {
    width: 285px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, #910BEA -2.96%, #F94E9B 99.84%);
    color: white;
}

.instructions {
   margin-top: -20px;
   margin-bottom: 35px;
   font-size: var(--font-medium);
}

.google {
    width: 280px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-top: 0px;
    border-radius: 10px;
    background: var(--Gray);
    color: white;
}

.apple {
    width: 280px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: var(--Gray);
    color: white;
}

.name {
    font-size: var(--font-medium);
}

.form h2 {
    font-size: var(--font-large);
}

.noAccount {
    display: flex;
    justify-content: center;
}
