.main {
    font-family: var(--font-family);
    color: var(--white);
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0 0 20px;
}

.chartContainer {
    width: 390px;
}
