.main {
    font-family: var(--font-family);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 20px 0 20px;
    border-bottom: 2px solid var(--grey);
}

.learnMore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size : var(--font-medium);
    font-weight: bold;
}

.graphCaption {
    font-size: var(--font-large-30px);
    font-weight: bold;
    margin: 40px 20px 20px 20px;
}

.graphCaption p {
    margin: 0;
}


.chartContainer {
    width: 390px;
}
