.main {
    font-family: var(--font-family);
    color: var(--white);
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 20px 0 20px;
}

.learnMore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size : var(--font-medium);
    font-weight: bold;
}

.graphCaption {
    font-size: var(--font-large);
}


.chartContainer {
    width: 390px;
}
