.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    min-height: 100vh;
    background-color: var(--black);
}

.banner {
    background-image: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url("/images/dog-profile-banner.png");
    background-position: bottom;
    background-size: cover;
    width: 430px;
    height: 200px; 
    padding: 60px 20px;
}

.hamburgerMenu {
    width: 33px;
    height: auto;
    flex-shrink: 0;
    cursor: pointer;
}
