.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    min-height: 100vh;
    background-color: var(--black);
}

.banner {
    position: relative;
}

.banner::before {
    background-image: url("/images/dog-profile-banner.png");
    background-position: bottom;
    background-size: cover;
    width: 430px;
    height: 200px; 
    padding: 60px 20px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.hamburgerMenu {
    width: 33px;
    height: auto;
    flex-shrink: 0;
    cursor: pointer;
}
