/* Global Quiz Styling */
.quizNav {
  
}

.quiz {
  max-height: 932px;
  color: var(--white);
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.quiz input {
  display: none;
}

.quiz label {
  width: 95%;
  display: block;
  background-color: transparent;
  border: 2px solid var(--white);
  padding: .5rem 1rem;
  border-radius: 99px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.quiz .selected {
  background-image: var(--gradient-rv);
}

.overlay {
  position: absolute;
  background-color: var(--dark-grey);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  z-index: 9999;
  border-radius: 25px;
  width: 100%;
  max-width:390px;
}

.overlay img {
  width: 300px;
  height: auto;
}

.ordinalNumber {
  font-size: var(--font-medium);
}

.pinkNumber {
  font-size: var(--font-medium);
  color: var(--rose);
}

.progress {
  box-sizing: content-box;
  background: rgba(0, 0, 0, 0.25);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 0;
  display: flex;
  height: 30px;
  width: 250px;
  z-index: 999;
  border: var(--white) 2px solid;
}

.progress-value {  
  animation: load 3.5s normal forwards;  
  border-radius: 100px;
  background-image: var(--gradient-rv);
  height: 30px;
  width: 0;
}

/* Quiz Question Nav */
.quizQuestionNav {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  padding: 1rem 1rem;
  align-items: center;
}

.quizQuestionNav img {
  max-width: 22px;
  height: 100%;
}

/* Quiz Intro Styling */
.quizIntroNav {
  display: flex;
  justify-content: flex-end;
}

/* Question One Styling */
.quiz h1{
  color: var(--light-blue);
}

.button {
  display: flex;
  width: 190px;
  height: 50px;
  padding: 8px 61px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 35.5px;
  border: none;
  background-image: var(--gradient-bb);
  color: white;
  margin-top: 75px;
  margin-left: 75px;
}

.button:hover {
  background-image: var( --gradient-rv);
}

.questions {
  margin-top: 200px;
  display: flex;
  width: 389px;
  height: 260px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

.quiz p{
  font-weight: bold;
}

.overlay button {
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 35.5px;
  margin-left: 230px;
  background: var(--Background, #141414);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.question_1 .progress-value {
  animation: quiz_1 1.5s normal forwards;
}

/* Question Two Styling */
.quiz h1{
  color: var(--light-blue);
}

.overlay2 {
  position: absolute;
  background-color: var(--dark-grey);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  z-index: 9999;
  border-radius: 25px;
  width: 100%;
  max-width:390px;
}

.overlay2 img {
    width: 300px;
    height: auto;
}

.overlay2 button {
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 35.5px;
  margin-left: 230px;
  margin-top: 20px;
  background: var(--Background, #141414);
  color: white;
  border: none;
  cursor: pointer;
}

.question_2
.progress-value {
  animation: quiz_2 1.5s normal forwards;  
}

/* Question Three Styling */
.question_3
.progress-value {
  animation: quiz_3 1.5s normal forwards;  
}
.question_3 .bottomRow {  
  display: flex;
  align-items: flex-end;
  gap: 1rem
}
.question_3 .overlay img {
  width: 180px;
  height: auto;
}

.question_3 .overlay button {
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 35.5px;
  margin-left: 40px;
  margin-top: 20px;
  background: var(--Background, #141414);
  color: white;
  border: none;
  cursor: pointer;
}

/* Question Four Styling */

.question_4
.progress-value {
  animation: quiz_4 1.5s normal forwards;  
}

.question_4 .overlay button {
  margin-top: 20px;
  cursor: pointer;
}

/* Question Five Styling */

.question_5
.progress-value {
  animation: quiz_5 1.5s normal forwards;  
}

.question_5 .overlay button {
  margin-top: 20px;
  cursor: pointer;
}

/* Quiz Outro */
.quizOutro .progress-value {
  animation: quiz_outro 4s normal forwards;  
}

.quizOutro .progress {
  width: 390px;
}

/* Quiz Results */

.quizResults .question_title {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.quizResults .question_title img {
  height: 100%;
  max-height: 20px;
  width: auto;
}

.quizResults .question_title .incorrect {
  height: 100%;
  max-height: 30px;
  width: auto;
}

/* Quiz Dopdown */
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  user-select: none;
}
.dropdown img {
  height: 100%;
  max-height: 16px;
  width: auto;
}

/* Quiz Summary */

.quizSummary {
  background-color: var(--dark-grey);
  padding: 0.3rem 1rem;
  border-radius: 25px;
  margin-bottom: 1rem;
}

.quizSummary h4 {
  margin: 0;
}

.summaryText {
  padding: .5rem;
}

@keyframes quiz_1 {
  0% { width: 20%; }
  100% { width: 20%; }
}
@keyframes quiz_2 {
  0% { width: 20%; }
  100% { width: 40%; }
}
@keyframes quiz_3 {
  0% { width: 40%; }
  100% { width: 60%; }
}
@keyframes quiz_4 {
  0% { width: 60%; }
  100% { width: 80%; }
}
@keyframes quiz_5 {
  0% { width: 80%; }
  100% { width: 100%; }
}
@keyframes quiz_outro {
  0% { width: 10%; }
  100% { width: 100%; }
}


