/* Global Quiz Styling */
.quizNav {
  max-height: 932px;
  color: var(--white);
  padding-top: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.quiz {
  max-height: 932px;
  color: var(--white);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.quiz input {
  display: none;
}

.quiz label {
  width: 95%;
  display: block;
  background-color: transparent;
  border: 2px solid var(--white);
  padding: .5rem 1rem;
  border-radius: 99px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.quiz .selected {
  background-image: var(--gradient-rv);
}

.overlay {
  position: absolute;
  background-color: var(--dark-grey);
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 1rem 0 1rem;
  z-index: 9999;
  border-radius: 25px;
  width: 100%;
  max-width: 390px;
  height: 565px;
  max-height: 565px;
  border: 5px solid var(--rose);

  display: flex;
  flex-direction: column;
  gap: 0;
}

.overlay img {
  width: 300px;
  height: auto;
  align-self: center;
}

.overlay h3 {
  font-size: var(--font-30);
  margin: 25px 0 25px 0;
}

.overlay h4 {
  font-size: var(--font-medium);
  color: var(--rose);
  margin: 0;
}

.overlay p {
  font-size: var(--font-regular-figma);
}

.overlay button {
  align-self: flex-end;
  height: 50px;
  width: 110px;
  font-size: var(--font-regular-figma);
  font-weight: bold;
}

.overlay button:active {
  background-image: var(--gradient-rv);
} 

.ordinalNumber,
.pinkNumber {
  font-size: var(--font-medium);
  font-weight: bold;
}

.pinkNumber {
  font-size: var(--font-medium);
  color: var(--rose);
}

.progress {
  box-sizing: content-box;
  background: rgba(0, 0, 0, 0.25);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 0;
  display: flex;
  height: 30px;
  width: 250px;
  z-index: 999;
  border: var(--white) 2px solid;
}

.progress-value {  
  animation: load 3.5s normal forwards;  
  border-radius: 100px;
  background-image: var(--gradient-rv);
  height: 30px;
  width: 0;
}

/* Quiz Question Nav */
.quizQuestionNav {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  padding: 1rem 1rem;
  align-items: center;
}

.quizQuestionNav img {
  max-width: 22px;
  height: 100%;
}

/* Quiz Intro Styling */
.quizIntroNav {
  display: flex;
  justify-content: flex-end;
}

/* Question One Styling */
.quiz h1 {
  font-size: var(--font-large);
  color: var(--light-blue);
  margin-top: 0;
}

.button {
  width: 190px;
  height: 50px;
  padding: 8px 61px;
  flex-shrink: 0;
  border-radius: 35.5px;
  border: none;
  background-image: var(--gradient-bb);
  color: var(--white);
  font-size: var(--font-medium);
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 80px;
}

.button:hover {
  background-image: var( --gradient-rv);
}

.questions {
  margin-top: 223px;
  display: flex;
  max-width: 390px;
  width: 390px;
  height: 260px;
  flex-direction: column;
  flex-shrink: 0;


  font-size: var(--font-medium);
  font-weight: bold;
}

.quiz p{
  font-weight: bold;
  font-size: var(--font-medium);
  margin: 1rem 0 1rem 0;
}

.overlay button {
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 35.5px;
  margin-left: 230px;
  background: var(--Background, #141414);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.question_1 .progress-value {
  animation: quiz_1 1.5s normal forwards;
}

/* Question Two Styling */
.quiz h1{
  color: var(--light-blue);
}

.overlay2 {
  position: absolute;
  background-color: var(--dark-grey);
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 1rem 0 1rem;
  z-index: 9999;
  border-radius: 25px;
  width: 100%;
  max-width: 390px;
  height: 565px;
  max-height: 565px;
  border: 5px solid var(--rose);

  display: flex;
  flex-direction: column;
  gap: 0;
}

.overlay2 img {
  width: 350px;
  height: auto;
  align-self: center;
  margin: 34px 0 25px 0;
}

.overlay2 h3 {
  font-size: var(--font-30);
  margin: 25px 0 25px 0;
}

.overlay2 h4 {
  font-size: var(--font-medium);
  color: var(--rose);
  margin: 0;
}

.overlay2 p {
  font-size: var(--font-regular-figma);
}

.overlay2 button {
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--black);
  color: var(--white);
  border: none;
  cursor: pointer;

  margin-left: 230px;
  height: 50px;
  width: 110px;
  font-size: var(--font-regular-figma);
  font-weight: bold;
}

.overlay2 button:active {
  background-image: var(--gradient-rv);
} 

.question_2
.progress-value {
  animation: quiz_2 1.5s normal forwards;  
}

/* Question Three Styling */
.question_3
.progress-value {
  animation: quiz_3 1.5s normal forwards;  
}

.overlay3 {
  position: absolute;
  background-color: var(--dark-grey);
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 1rem 0 1rem;
  z-index: 9999;
  border-radius: 25px;
  width: 100%;
  max-width: 390px;
  height: 565px;
  max-height: 565px;
  border: 5px solid var(--rose);

  display: flex;
  flex-direction: column;
  gap: 0;
}

.overlay3 img {
  width: 210px;
  height: 300px;
  align-self: center;
  margin: 12px 0 25px 0;
}

.overlay3 h3 {
  font-size: var(--font-30);
  margin: 25px 0 25px 0;
}

.overlay3 h4 {
  font-size: var(--font-medium);
  color: var(--rose);
  margin: 0;
}

.overlay3 p {
  font-size: var(--font-regular-figma);
}

.question_3 .bottomRow {  
  display: flex;
  align-items: flex-end;
  gap: 1rem
}

.overlay3 button {
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 35.5px;
  margin-left: 40px;
  margin-top: 20px;
  background: var(--black);
  color: var(--white);
  border: none;
  cursor: pointer;

  font-size: var(--font-regular-figma);
  font-weight: bold;
}

.overlay3 button:active {
  background-image: var(--gradient-rv);
} 

/* Question Four Styling */

.question_4
.progress-value {
  animation: quiz_4 1.5s normal forwards;  
}

.question_4 .overlay button {
  margin-top: 20px;
  cursor: pointer;
}

/* Question Five Styling */

.question_5
.progress-value {
  animation: quiz_5 1.5s normal forwards;  
}

.question_5 .overlay button {
  margin-top: 20px;
  cursor: pointer;
}

/* Quiz Outro */
.quizOutro .progress-value {
  animation: quiz_outro 4s normal forwards;  
}

.quizOutro .progress {
  width: 390px;
}

/* Quiz Results */

.quizResults .question_title {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.quizResults .question_title img {
  height: 100%;
  max-height: 20px;
  width: auto;
}

.quizResults .question_title .incorrect {
  height: 100%;
  max-height: 30px;
  width: auto;
}

/* Quiz Dopdown */
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  user-select: none;
}
.dropdown img {
  height: 100%;
  max-height: 16px;
  width: auto;
}

/* Quiz Summary */

.quizSummary {
  background-color: var(--dark-grey);
  padding: 0.3rem 1rem;
  border-radius: 25px;
  margin-bottom: 1rem;
}

.quizSummary h4 {
  margin: 0;
}

.summaryText {
  padding: .5rem;
}

@keyframes quiz_1 {
  0% { width: 20%; }
  100% { width: 20%; }
}
@keyframes quiz_2 {
  0% { width: 20%; }
  100% { width: 40%; }
}
@keyframes quiz_3 {
  0% { width: 40%; }
  100% { width: 60%; }
}
@keyframes quiz_4 {
  0% { width: 60%; }
  100% { width: 80%; }
}
@keyframes quiz_5 {
  0% { width: 80%; }
  100% { width: 100%; }
}
@keyframes quiz_outro {
  0% { width: 10%; }
  100% { width: 100%; }
}


