.main {
    max-width: 430px;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.tab button {
    background-color: var(--black);
}

.gridIcon {

}
