.main {
    max-width: 100%;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: none;
    margin-bottom: 20px;
}

/*.tab button,*/
.buttonTab {
    background-color: var(--black);
    border: none;
    padding: 20px;
    width: 190px;
    position: relative;
}

/*
.tab button:focus {
    border-bottom: 2px solid var(--white);
    box-sizing: border-box;
    transition: transform 2s; 
}*/

.active,
.buttonTab:active {
    background-color: var(--black);
    border: none;
    padding: 20px;
    width: 190px;
    border-bottom: 2px solid var(--white);
    box-sizing: border-box;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.tabContent {
    width: 100%;
}

.gridContainer, 
.likedContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 10px;
}

.gridContainer {
    justify-content: space-between;
}