.message {
    color: var(--white);
    display: flex;
    height: 40px;
    width: fit-content;
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--dark-grey);
}