.container {
    width: 390px;
    height: 280px;
    background-color: var(--dark-grey);
    border-radius: 25px;
    position: absolute;
    color: var(--white);
}

.topContainer {
    width: 390px;
    height: 40px;
    background: linear-gradient(80deg, var(--violet) 5%, var(--rose) 95%);
    border-radius: 25px 25px 0 0;
    position: relative;
}

.subHead {
    margin-top: 60px;
    font-size: var(--font-small);
}
