.container {
    width: 390px;
    height: 310px;
    background-color: var(--dark-grey);
    border-radius: 25px;
    position: absolute;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-regular);
}

.topContainer {
    width: 390px;
    height: 40px;
    background: var(--gradient-rv);
    border-radius: 25px 25px 0 0;
    position: relative;
}

.mainContent {
    box-sizing: content-box;
    margin: 60px 20px 20px 20px;
}

.subHead {
    font-size: var(--font-small-14px);
    font-weight: bold;
    color: var(--rose);
}

.subHead p {
    margin-bottom: 0;
}

.header {
    font-size: var(--font-medium);
    font-weight: bold;
}

.header p, 
.description p {
    margin: 5px 0;
}

.description {
    font-size: var(--font-regular-figma);
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0 20px 0;
}

.chip {
    background-color: var(--black);
    border-radius: 25px;
    padding: 5px 15px;
    height: 20px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chip p {
    margin: 0;
    font-size: var(--font-small-14px);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.startButton button{
    width: 260px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: var(--gradient-rv);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

.startButton button:hover, 
.startButton button:focus {
    background: var(--gradient-bb);
}


.icon {
    background-color: var(--black);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
}

.icon:hover:not(:focus) {
    box-sizing: border-box;
    background: linear-gradient(var(--black), var(--black)) padding-box,
              var(--gradient-rv) border-box;
    border: 2px solid transparent;
}

.icon:focus {
    box-sizing: content-box;
    background-image: var(--gradient-rv);
}
