:root {
  --font-regular: 12px;
  --font-small: 10px;
  --font-medium: 20px;
  --font-large: 40px;

  --black: #141414;
  --white: #FFFFFC;
  --grey: #878787; /*make this 20% opacity*/
  --dark-grey: #333333;
  --rose: #F94E9B;
  --violet: #910BEA;
  --dark-blue: #4A10D1;
  --blue: #687FE9;
  --light-blue: #4CC9F0;
} 
