@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'lostar';
  src: url('/public/fonts/Lostar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --font-regular: 12px;
  --font-regular-figma: 16px;
  --font-small: 10px;
  --font-small-14px: 14px;
  --font-medium-16px: 16px;
  --font-medium: 20px;
  --font-large: 40px;
  --font-extra-large: 50px;
  --font-family: "Roboto", sans-serif;

  --font-30: 30px;

  --black: #141414;
  --white: #FFFFFC;
  --grey: rgba(135, 135, 135, .2); /* this is 20% opacity*/
  --light-grey: #A6A7B3;
  --medium-grey: #545458;
  --dark-grey: #333333;
  --rose: #F94E9B;
  --violet: #910BEA;
  --dark-blue: #4A10D1;
  --blue: #687FE9;
  --light-blue: #4CC9F0;
  --light-pink: #F4B9DB;
  
    /*gradient*/
  --gradient-rv: linear-gradient(85deg, var(--rose) 5%, var(--violet) 95%);
  --gradient-bb: linear-gradient(85deg, var(--light-blue) 2%, var(--dark-blue) 113%);
  --gradient-vb: linear-gradient(85deg, var(--violet) 5%, var(--blue) 95%);
} 

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
