:root {
  --light-blue: #4CC9F0;
  --white: #FFFFFC;
  --gray: rgba(135,135,135,0.2);
  --dark-grey: #333333;
  --pale-blue: #CCD4F8;
  --light-grey: #A6A7B3;
  --medium-grey: #A6A7B3;
  --light-pink: #F4B9DB;

  --font-regular: 12px;
  --font-small: 10px;
  --font-medium: 20px;
  --font-large: 40px;
  --font-family: "Roboto", sans-serif;

  --gradient-rv: linear-gradient(85deg, var(--rose) 5%, var(--violet) 95%);
  --gradient-bb: linear-gradient(85deg, var(--dark-blue) 2%, var(--violet) 113%);
  --gradient-vb: linear-gradient(85deg, var(--violet) 5%, var(--blue) 95%);
}
