.cards {
    margin-top: 50px;
}

.prompt {
    margin-top: 70px;
    margin-left: 20px;
}

.user {
    margin-top: 30px;
    margin-bottom: -50px;
}

.bar {
    margin-top: 40px;
    margin-left: 17px;
}