.cards {
    margin-top: 30px;
}

.prompt {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 160px;
}

.user {
    margin-top: 10px;
    margin-bottom: -50px;
}

.bar {
    position: fixed;
    bottom: 0;
    z-index: 999;
    margin-left: 20px;
}