.main {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  background-color: black;  
  /* min-height: 100vh; */
  font-family: var(--font-family);
  margin: auto;
}

.main * {
  font-family: var(--font-family);
}
