/* Global Quiz Styling */
.quiz {
    min-height: 932px;
    color: var(--white);
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    font-family: var(--font-family);
  }
  
  
  .quiz input {
    display: none;
  }
  
  .quiz label {
    width: 95%;
    display: block;
    background-color: transparent;
    border: 2px solid var(--white);
    padding: .5rem 1rem;
    border-radius: 99px;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .quiz .selected {
    background: linear-gradient(to right, #F94E9B, #910BEA);
  }
  
  .overlay {
    position: absolute;
    background-color: var(--dark-grey);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    z-index: 9999;
    border-radius: 25px;
    width: 100%;
    max-width:390px;
  }
  
  .overlay img {
    width: 300px;
    height: auto;
  }
  
  .pinkNumber {
    color: var(--rose);
  }
  .progress {
    box-sizing: content-box;
    background: rgba(0, 0, 0, 0.25);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 0;
    display: flex;
    height: 30px;
    width: 250px;
    z-index: 999;
    border: var(--white) 2px solid;
  }
  
  .progress-value {  
    animation: load 3.5s normal forwards;  
    border-radius: 100px;
    background: linear-gradient(to right, #F94E9B, #910BEA);
    height: 30px;
    width: 0;
  }

/* Quiz Outro */
.quizOutro .progress-value {
    animation: quiz_outro 4s normal forwards;  
  }
  
  .quizOutro .progress {
    width: 390px;
  }

  /* Quiz Outtro*/
  .outtro1Heading {
    color: var(--white);
    line-height: 80%;
  }

  /* Quiz Results */
  
  .quizResults .question_title {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .quizResults .question_title img {
    height: 100%;
    max-height: 20px;
    width: auto;
  }
  
  .quizResults .question_title .incorrect {
    height: 100%;
    max-height: 30px;
    width: auto;
  }
  
  /* Quiz Dopdown */
  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
    user-select: none;
  }
  .dropdown img {
    height: 100%;
    max-height: 16px;
    width: auto;
  }
  
  /* Quiz Summary */
  
  .quizSummary {
    background-color: var(--dark-grey);
    padding: 0.3rem 1rem;
    border-radius: 25px;
    margin-bottom: 1rem;
  }
  
  .quizSummary h4 {
    margin: 0;
  }
  
  .summaryText {
    padding: .5rem;
  }
  
  @keyframes quiz_1 {
    0% { width: 20%; }
    100% { width: 20%; }
  }
  @keyframes quiz_2 {
    0% { width: 20%; }
    100% { width: 40%; }
  }
  @keyframes quiz_3 {
    0% { width: 40%; }
    100% { width: 60%; }
  }
  @keyframes quiz_4 {
    0% { width: 60%; }
    100% { width: 80%; }
  }
  @keyframes quiz_5 {
    0% { width: 80%; }
    100% { width: 100%; }
  }
  @keyframes quiz_outro {
    0% { width: 10%; }
    100% { width: 100%; }
  }
  
  
/*Outtro*/

.quizOutro {
    position: relative;
    z-index: 20;
    color: var(--white);
  
  }
  
  
  .textElements {
    position: relative;
    z-index: 20;
  }
  
  .backgroundMesh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .outtro1 {
    display: flex;
    flex-direction: column;
    width: 350px;
  
  }
  
  .outtro1Heading {
    width: 380px; 
    line-height: 45px; /* 90% */
    text-transform: uppercase;
    font-size: var(--font-large); 
    margin-top: 204px;
    margin-left: 31px;
    margin-bottom: 0;
  }
  
  .outtro1Paragragh {
    margin-left: 31px;
    color: var(--light-blue);
    font-weight: bold;
    margin-top: 13px;
    font-size: var(--font-medium-16px);
  }
  
  .outtro1HeadingArt {
    color: var(--rose);
  }
  
  .outtro2 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
  }
  .outtro2Heading {
    font-size: var(--font-large);
  }
  .outtro2Paragragh {
    width: 300px;
    text-align: center;
    font-size: var(--font-medium-16px);
    font-weight: bold;
    margin-top: 0px;
  }
  
  .resultButton {
    display: flex;
    width: 390px;
    height: 50px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 25px;
    background: var(--rose);
    border: none;
    color: var(--white);
    font-weight: bold;
    margin-top: 304px;
    margin-bottom: 52px;
    cursor: pointer;
    transition: background-image 3s;
  }
  
  .resultButtonLink {
    text-decoration: none;
  }
  
  .progress {
    margin-top: 300px;
    margin-bottom: 52px;
  }

  .resultButton:hover {
    background-image: var(--gradient-rv);
    animation: changeColor 3s linear ease-in;
  }

  @keyframes changeColor {
    0% {
      background-color: var(--rose);
    }
    100% {
      background-image: var(--gradient-rv);
    }
  }