
  .grainyContainer {
    opacity: 0.6;
  }

  .gradientMesh {
   position: fixed;
    overflow: hidden;
    width: 100%;
    height: 932px;
  }

  .Shape1,
  .Shape2,
  .Shape3,
  .Shape4,
  .Shape5,
  .Shape6,
  .Shape7,
  .Shape8,
  .Shape9,
  .Shape10 {
    position: absolute;
    filter: blur(50px);
  }
  .Shape1 {
   transform: rotate(59.042deg); 
   top: 710px;
   left: -7px;
   animation: one 10s infinite;
  }

  @keyframes one {
    0% {
        left: -7px;
        top: 710px; 
    }
    25% {
        left: 67.24px;
        top: 619.72px;
    }
    50% {
        left: 71.3px;
        top: 759.78px;
    }

    100% {
        left: -7px;
        top: 710px;
    }
}

  .Shape2 {
    transform: rotate(59.042deg); 
    top: 461px;
    animation: two 10s infinite;
  }
  @keyframes two {
    0% {
        top: 461px; 
    }
    25% {
        left: -100px;
        top: 600px;
    }
    50% {
        left: -52px;
        top: 637px;
    }

    100% {
        top: 461px;
    }
}

  .Shape3 {
    top: 510px;
    left: 49px;
    animation: three 10s infinite;
  }

  @keyframes three {
    0% {
        top: 510px; 
        left: 49px;
    }
    25% {
        left: 100px;
        top: 571px;
    }
    50% {
        left: 71px;
        top: 711px;
    }

    100% {
      top: 510px; 
      left: 49px;
    }
}

  .Shape4 {
    top: 776px;
    left: 0px;
    animation: four 10s infinite;
  }
  @keyframes four {
    0% {
        top: 776px; 
        left: 0px;
    }
    25% {
        left: 180.69px;
        top: 502.78px;
    }
    50% {
        left: 0px;
        top: 471px;
    }

    100% {
      top: 776px; 
      left: 160px;
    }
}

  .Shape5 {
    transform: rotate(-22.796deg); 
    top: 619px;
    left: 100px;
    animation: five 10s infinite;
  }
  @keyframes five {
    0% {
        top: 619px; 
        left: 67.24px;
    }
    25% {
        left: 28.69px;
        top: 600px;
    }
    50% {
        left: 200px;
        top: 571px;
    }

    100% {
      top: 619px; 
      left: 67.24px;
    }
}
 .Shape6 {
  transform: rotate(59.042deg); 
  top: 609.99px;
  left: 7.69px;
  animation: six 10s infinite;
 }
 @keyframes six {
  0% {
      top: 609.99px; 
      left: 7.69px;
  }
  25% {
      left: 7.69px;
      top: 608.99px;
  }
  50% {
      left: 10px;
      top: 621px;
  }

  100% {
    top: 609.99px; 
    left: 7.69px;
  }
}
 .Shape7 {
  top: 461px;
  left: -197px;
  animation: seven 10s infinite;
 }
 @keyframes seven {
  0% {
      top: 461px; 
      left: -197px;
  }
  25% {
      left: -70px;
      top: 640px;
  }
  50% {
      left: 0px;
      top: 608px;
  }

  100% {
    top: 461px; 
    left: -197px;
  }
}
 .Shape8 {
  top: 510px;
  left: 49px;
  animation: eight 10s infinite;
 }
 @keyframes eight {
  0% {
      top: 510px; 
      left: 49px;
  }
  25% {
      left: 0px;
      top: 640px;
  }
  50% {
      left: 0px;
      top: 587px;
  }

  100% {
    top: 510px; 
    left: 49px;
  }
}

 .Shape9 {
  top: 776px;
  left: -82px;
  animation: nine 10s infinite;
 }
 @keyframes nine {
  0% {
      top: 776px; 
      left: -82px;
  }
  25% {
      left: 0px;
      top: 659.78px;
  }
  50% {
      left: 170px;
      top: 600px;
  }

  100% {
    top: 776px; 
    left: -82px;
  }
}


 .Shape10 {
  transform: rotate(-22.796deg); 
  top: 619px;
  left: -67.94px;
  animation: ten 10s infinite;
 }
 @keyframes ten {
  0% {
      top: 619px; 
      left: -67.94px;
  }
  25% {
      left: 0px;
      top: 636px;
  }
  50% {
      left: 130px;
      top: 600px;
  }

  100% {
    top: 619px; 
      left: -67.94px;
  }
}
