.main {
    max-width: 100%;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: none;
}

.tab button {
    background-color: var(--black);
    border: none;
    padding: 20px;
}

.active {
    border: 1px solid var(--white);
}

.tabContent {
    width: 100%;
}

.gridContainer, 
.likedContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 10px;
}

.gridContainer {
    justify-content: space-between;
}